a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}
/*
.footer-link {
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: small;
    text-decoration: none;
    font-weight: bolder;
    color: #11999E;
}
*/

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size:5.625rem;
    color:#66BFBF;
    margin: 50px auto 0 auto; 
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-top: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
/*
button {
    background: linear-gradient(0deg, #11999E,  #66BFBF);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #11999E;
}

button:hover {
    background-color: #236c6f;
}
*/

p {
    line-height: 2;
    /*
     skill-row뿐만 아니라 모든 P text에 적용하기 위해
    */
}



.btn {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.get-in-touch-p {
    width: 40%;
    margin: 40px auto 60px;
    /*
    width:50%;
    margin: 50px auto;
    */
}

.hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    /*
    border-width: 6px;
    border-style: none;
    border-top-style: dotted;
    color: lightgray;
    width: 5%;
    margin: 80px auto;
    */
}

/*
.hr-2 {
    border-width: 7px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    color: lightgray;
    margin: 80px auto;
}
*/

.h2-text {
    /*
     나는 그 위의 Hello까지 div로 묶어서 같이 처리 했음
    */
    width: 30%;
    margin: auto;
}

.skill-row {
    width : 50%;
    /* 내가 쓴 코드
    position:relative;
    left:25%;
    밑에는 안젤라가 쓴 코드*/
    margin: 100px auto 50px;
    text-align: left;
    /*
    line-height: 2;
    */
}

.h2-photos-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.h2-photos-2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top-container {
    background-color: #EAFDFC;
    position:relative;
    padding-top:100px;
}

.middle-container {
    margin: 100px 0;
    /*
     나는 이 부분에 프로파일 사진 마진-탑 50px
     바텀컨테이너 마진-탑 70px 했었음
    */

}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;    

    /*
    padding: 30px 5px;
    margin: 70px 0 0;
    */
}

.copyright {
    font-size: 0.75rem;
    color:#EAF6F6;
    padding: 20px 0;
    /*
    font-size: x-small;
    font-weight: bolder;
    color: #EAF6F6;
    */
}

.pro {
    text-decoration: underline;
}

.profile-photo {
    /*
     margin-top: 50px;
    */
    width:200px;
}

/*
 안젤라는 탑, 바텀 클라우드 위치도 조금 조정함
*/
.top-cloud {
    position:absolute;
    right:300px;
    top:40px;
}


.bottom-cloud {
    position:absolute;
    left: 250px;
    top:300px;
}


/*
.h3-p-1 {
    display: inline-block;
    position: relative;
    width:28.125rem;
    text-align:left;
}


.h3-div {
    display:inline-block;
    text-align:left;
    position: relative;
    left:1rem;
}

.h3-2 {
    display:inline-block;
    position: absolute;
    text-align:left;
}

.h3-p-2 {
    display: inline-block;
    position: relative;
    width:28.125rem;
    text-align:left;
}

.h2-photos-2 {
    position: relative;
    left:1rem;
}
*/

/* 
Angela's top-container
.top-container {
    background-color: ~~;
    position:relative;
    padding-top:100px;
}
*/

/*
.middle-container {
}
*/


/*Angela's top-cloud
.top-cloud {
    position:absolute;
    right:300px;
    top:50px;
}
*/

/*Angela's bottom-cloud
.bottom-cloud {
    position:absolute;
    right:300px;
    top:300px;
}
*/




/*
.boxmodel-p {
    margin:0px;
}

.boxmodel {
    width:140px;
    height:140px;
    background-color: lightblue;
    border:solid;
    border-width: 20px;
    margin:10px; 
    padding:20px;
}
*/